.background {
  background-color: #f0f0f0;
  width: 450px;
  height: 290px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}


.val{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 60px;
    background-color: aqua;
    color: blanchedalmond;
    border: none;
    cursor: pointer;

}


span {
  font-size: 100px;
  margin-top: 20px;
}


h1{
    position: absolute;
    top: 0

}

.button-panel{
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  
}